<div class="subjectContainer">
	<section class="subjectBox" *ngFor="let subject of subjects">
		<h2>{{subject.subject}}</h2> <i *ngIf="subject.due>=1; else elseBlock" class="material-icons">alarm</i>
		<ng-template #elseBlock>
			<i class="material-icons green md-24">done</i>
		</ng-template>
		<p> {{subject.due}} fällig | <a routerLink="/subjects" routerLinkActive="active" (click)="goToItems(subject.subject)">Alle anschauen</a> </p>
		<button class="primaryButton" routerLink="/subjects" routerLinkActive="active" (click)="goToQuiz(subject.subject)" *ngIf="subject.due>=1">Quiz</button> 
		<button class="secondaryButton" routerLink="/subjects" routerLinkActive="active" (click)="goToAddItem(subject.subject)">Hinzufügen</button>
	</section>
	<section class="subjectBox">
		<h2>Add subject</h2> <i class="material-icons">add</i>
		<p>Neues Fach anlegen</p>
		<input type="text" [(ngModel)]="newSubject" placeholder="Type here...">
		<button class="primaryButton" routerLink="/addItem" routerLinkActive="active" [disabled]="newSubject.length < 1" (click)="goToAddItem(newSubject)">Fach hinzufügen</button> 
	</section>
</div>
<div id="footer">
	Einfach Vokabeln im- und exportieren.
	<a class="secondaryButton" title="Download JSON" [href]="downloadJsonHref" download="myTrainingVocabulary.json">Export</a>

    <input type="button" class="secondaryButton" value="Import" onclick="document.getElementById('file').click();" />
	<input type="file" style="display:none;" id="file" name="file" accept=".json" (change)="handleFileInput($event.target.files)"/>

</div>