<div class="subjectContainer">
	<section class="subjectBox" *ngFor="let subject of subjects">
		<h2>{{subject.subject}}</h2> <i *ngIf="subject.due>=1; else elseBlock" class="material-icons">alarm</i>
		<ng-template #elseBlock>
			<i class="material-icons green md-24">done</i>
		</ng-template>
		<p> {{subject.due}} due | <a routerLink="/subjects" routerLinkActive="active" (click)="goToItems(subject.subject)">View all</a> </p>
		<button class="primaryButton" routerLink="/subjects" routerLinkActive="active" (click)="goToQuiz(subject.subject)" *ngIf="subject.due>=1">Quiz</button> 
		<button class="secondaryButton" routerLink="/subjects" routerLinkActive="active" (click)="goToAddItem(subject.subject)">Add items</button>
	</section>
	<section class="subjectBox">
		<h2>Add subject</h2> <i class="material-icons">add</i>
		<p>Type name for new subject</p>
		<input type="text" [(ngModel)]="newSubject" placeholder="Type here...">
		<button class="primaryButton" routerLink="/addItem" routerLinkActive="active" [disabled]="newSubject.length < 1" (click)="goToAddItem(newSubject)">Add subject</button> 
	</section>
</div>