<div style="text-align: center;">
	<button routerLinkActive="active" (click)="ToOverview()">Back to overview</button>
	<h2>{{chosenSubject}}</h2>
	<p>Adding item<span *ngIf="itemsAdded >= 1"> ({{itemsAdded}} just added)</span></p>
</div>
<div class="quizContainer">
	<div class="quizBox"> 
		<h2>Question</h2>
	<textarea #QuestionInput [(ngModel)]="question" cols="40" rows="8" style="max-width: 90%;"> </textarea>
	</div>
    <div class="quizBox"> 
    	<h2>Your answer</h2>
    	<textarea [(ngModel)]="answer" type="text" cols="40" rows="8" style="max-width: 90%;"></textarea>
    </div>
</div>

<div>
	<div style="float: left; position: relative; display: inline-block; padding: 0 16px; min-width: 64px; height: 36px; vertical-align: middle; text-align: center;">
		<input [(ngModel)]="swapped" type="checkbox"> Also create reversed item.
	</div>
    <button class="primaryButton" (click)="clickedSave()">Save</button>
</div>