<div style="text-align: center;">
    <button routerLink="/subjects" routerLinkActive="active" (click)="ToOverview()">Zurück zur Übersicht</button>
    <h2>{{subject}}</h2>
</div>

<div>
    <p style="text-align: center;">Kärtchenliste | {{noOfItems}} Kärtchen</p>
</div>

<div class="table-responsive-vertical shadow-z-1">
<!-- Table starts here -->
<table id="table" class="table table-hover table-mc-light-blue">
  <thead>
    <tr>
      <th>ID</th>
      <th>Frage</th>
      <th>Antwort</th>
      <th>Phase</th>
      <th>Fällig am</th>
      <th>ID des getauschten Kärtchens</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of itemList">
      <td data-title="ID">{{item.ID}}</td>
      <td data-title="Question">{{item.question}}</td>
      <td data-title="Answer">{{item.answer}}</td>
      <td data-title="Phase">{{item.phase}}</td>
      <td data-title="Due">{{item.due}}</td>
      <td data-title="Pair ID">{{item.swappedTo}} <button class="secondaryButton" (click)="toEdit(subject, item.ID)">Edit item</button></td>
    </tr>
  </tbody>
</table>
</div>