<div style="text-align: center;">
    <button routerLink="/subjects" routerLinkActive="active" (click)="ToOverview()">Back to overview</button>
    <h2>{{subject}}</h2>
</div>

<div>
    <p style="text-align: center;">Item list | {{noOfItems}} items</p>
<!--     <ul>
	  <li *ngFor='let item of itemList'>{{ item.ID }}</li>
	</ul> -->

	<table>
	  <tr>
	   	<th>
	      ID
	    </th>
	    <th>
	      Question
	    </th>
	    <th>
	      Answer
	    </th>
	    <th>
	      Phase
	    </th>
	    <th>
	      Due
	    </th>
	    <th>
	      Pair ID
	    </th>
	  </tr>
	  <tr *ngFor="let item of itemList">
	    <td>
	      {{item.ID}}
	    </td>
	    <td>
	      {{item.question}}
	    </td>
	   	<td>
	      {{item.answer}}
	    </td>
	   	<td>
	      {{item.phase}}
	    </td>
	    <td>
	      {{item.due}}
	    </td>
	   	<td>
	      {{item.swappedTo}}
	    </td>
	    <td>
	    	<button class="secondaryButton" (click)="toEdit(subject, item.ID)">Edit item</button>
	    </td>
	  </tr>
	</table>

</div>