@import url('https://fonts.googleapis.com/css?family=Lobster|Material+Icons');

body{
	line-height: 1.6;

}

#last {
    background-color: rgba(0,0,0, .8);
    padding: 12px;
    color: white;
}

#showcase {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	background-image: url('~/assets/background-image/trianglify.svg');
}


#subtitle {
	font-family: Lobster,sans-serif;
}

.area {
	min-height: 50vh;
	margin: 8px auto;
	padding: 24px 0;
	max-width: 1200px;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}


.LandingpageContainer {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-template-rows: repeat(1, 140px);
    text-align:center;
    margin: 16px;
}

#footer-link {
	color: white;
	text-decoration: underline;
}