<header id="showcase">
	<h1>Schnell lernen, für immer behalten.</h1>
	<h2 id="subtitle">Von Strebern für Streber 🤓</h2>
	<button class="primaryButton" (click)="ToOverview()">Start</button>
</header>

<div class="area">
	<h1>So funktioniert's</h1>
	<div class="LandingpageContainer">
		<section>
			<h2>🏁 Einfach starten</h2>
			<p>Du kannst direkt loslegen und selber Fächer erstellen und Karten hinzufügen - egal ob du für Sprachen oder Naturwissenschaften lernst.</p>
		</section>
		<section>
			<h2>🥳 Lernen mit System</h2>
			<p>Durch die Abfragen im Intervall lernst du sowohl kurzfristig für Tests, als auch für's Langzeitgedächtnis.</p>
		</section>
		<section>
			<h2>🏖 Immer im Zugriff</h2>
			<p>Deine Infos werden komfortabel in deinem Browser gespeichert und lassen sich jeder Zeit auf andere Geräte übertragen.</p>
		</section>
	</div>
</div>

<div class="area">
	<h1>🔑 Das System dahinter</h1>
	<p>Nach jeder richtigen Beantwortung einer Karte wandert sie in die nächste Phase bis du sie für immer sicher im Langzeitgedächtnis abrufen kannst:</p>
	<table align="center" style="width:80%; max-width: 400px;">
	  <tr>
	    <th>Lernphase</th>
	    <th>Tage bis zur nächsten Abfrage</th> 
	  </tr>
	  <tr>
	    <td>1</td>
	    <td>1</td> 
	  </tr>
	  <tr>
	    <td>2</td>
	    <td>3</td> 
	  </tr>
	  <tr>
	    <td>3</td>
	    <td>10</td> 
	  </tr>
	  <tr>
	    <td>4</td>
	    <td>30</td> 
	  </tr>
	  <tr>
	    <td>5</td>
	    <td>90</td> 
	  </tr>
	  <tr>
	    <td>6</td>
	    <td>✅ Langzeitgedächtnis</td> 
	  </tr>
	</table>
</div>

<div id="last">
<p>© Jean Michel Diaz (2019)</p>
View open source project on <a id="footer-link" target="_blank" href="https://github.com/JuanMiguelDiaz/AngularVoc">GitHub</a>

</div>